- const languageKey = 'Data from';
.information
  .information__left
    .information__left-top= helpers.translate(languageKey, 'en')
    .information__left-bottom= helpers.translate(languageKey, 'da')
  .information__center
    img(src='/images/unhcr-logo.png')
  .information__right
    .information__right-top= helpers.translate(languageKey, 'ar')
    .information__right-bottom= helpers.translate(languageKey, 'fa')
