extends layout

block content
  svg#map.map
  #overlay.overlay
    .overlay__loading.overlay__slide.overlay__slide--active
      .overlay__section.overlay__section--middle
        h2= helpers.translate('Loading statistics from', 'en')
        h2= helpers.translate('Loading statistics from', 'da')
        h2= helpers.translate('Loading statistics from', 'ar')
        h2= helpers.translate('Loading statistics from', 'fa')
        img(src='/images/unhcr-logo.png')
    .overlay__error.overlay__slide
      .overlay__section.overlay__section--middle
        img(src='/images/bug.png')
        pre#stacktrace
    .overlay__credits.overlay__slide.overlay__slide--active
      include includes/credits-left
