.informations {
  display: table;
}

.information {
  // align-items: center;
  // display: flex;
  display: table-row;

  &__left,
  &__right,
  &__center {
    display: table-cell;
    vertical-align: middle;
  }

  &__left,
  &__right {
    font-size: 1.5rem;
  }

  &__left {
    text-align: right;
  }

  &__center {
    color: $title-color;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 5rem;
    padding: 0 1rem;
    text-align: center;
  }

  &__right {
    text-align: left;
  }
}
