include ../mixins/information

.overlay__slide.overlay__slide--ocean
  .date
    span= year
  .overlay__middle
    +information(
      'Arrivals pr year',
      helpers.formatNumber(totalArrivals)
    )
    +information(
      'Deaths pr year',
      helpers.formatNumber(totalDeaths)
    )
