extends intro

block title
  | Syrien

block introduction
  p.
    De følgende slides fokuserer på udviklingen i Syrien fra
    #{firstYear} – #{lastYear}.
  p Der findes desværre ingen data fra #{lastYear} og frem.
