extends intro

block title
  | UNHCR’s kategorier for mennesker på flugt i verden

block introduction
  p.
    De følgende slides viser det totale antal mennesker på flugt fra
    #{firstYear} – #{lastYear} fordelt på de fire kategorier:
  dl
    dt Flygtninge:
    dd Personer med tildelt asylstatus på baggrund af FN’s flygtningekonvention.
    dt Internt fordrevne:
    dd Personer tvunget til at forlade hjemmet, men ikke landet.
    dt Statsløse:
    dd Personer der ikke har statsborgerskab i noget land.
    dt Asylansøgere:
    dd Personer der søger beskyttelse i et andet land, hvis flygtningestatus endnu ikke er afklaret.
  p Der findes desværre ingen data fra #{lastYear} 2013 og frem.
