extends intro

block title
  | Ankomster til Europa pr. måned

block introduction
  p.
    De følgende slides viser det samlede antal ankomster over Middelhavet til Europa.
    Tallene opdateres per måned og vises fra #{firstYear} – #{lastYear}.
