include ../mixins/information

.overlay__slide.overlay__slide--intro
  .overlay__section.overlay__section--middle
    h1
      block title
    .introduction
      block introduction
    .informations
      include ../includes/credits-centered
