extends intro

block title
  | På flugt

block introduction
  p.
    De følgende slides viser det samlede antal mennesker på flugt i verden fra
    #{firstYear} – #{lastYear} på tværs af de fire kategorier:
  ul
    li Flygtninge
    li Internt fordrevne
    li Statsløse
    li Asylansøgere
  p Der findes desværre ingen data fra #{lastYear} og frem.
