include ../mixins/information

.overlay__slide
  .date= year
  .overlay__section.overlay__section--bottom
    .informations
      +information(
        'On the run',
        helpers.formatNumber(totalCombined)
      )
