include ../mixins/information

.overlay__slide
  .date= year
  .overlay__section.overlay__section--middle
    .informations
      +information(
        'Internally displaced',
        helpers.formatNumber(totalInternallyDisplaced)
      )
      +information(
        'Stateless',
        helpers.formatNumber(totalStateless)
      )
      +information(
        'Refugees',
        helpers.formatNumber(totalRefugees)
      )
      +information(
        'Asylum seekers',
        helpers.formatNumber(totalAsylumSeekers)
      )
